.SubText {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: 10px;
  @media (min-width: 1200px) {
    margin-left: 12px;
  }
  span {
    width: 100%;
    font-weight: 400;
    padding: 0;
    color: var(--brand-primary);
    font-family: var(--brand-font);
    font-size: 12px;
    line-height: 1.3;
    margin: 3px 0;
    @media (min-width: 1200px) {
      font-size: 0.7291vw;
    }
    &.PriceOne {
      color: var(--brand-primary);
    }
    &.PriceTwo {
      color: var(--gray-color);
    }
  }
}
