* {
  font-family: var(--brand-font);
}

html {
  font-family: var(--brand-font);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }
}

i {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 20px;
  background-color: #EBEBEB;
}

::-webkit-scrollbar, ::-webkit-scrollbar
{
  width: 8px;
  height: 8px; 
  background-color: #EBEBEB;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  // background-color: var(--checkbox-color);
  background-color: #5f5f5f;
}
button {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
body {
  // background: url("../Assets/gradientbg.svg");
  background-color: #f5f6f7;
  font-size: 14px;
  font-family: var(--brand-font);
  margin: 0;
  padding: 0;
  color: var(--gray-color);
  font-weight: 400;
  overflow-x: hidden;

  @media (min-width: 992px) {
    font-size: 0.8333vw;
  }
}

* {
  &:focus {
    outline: none !important;
    outline-offset: 0 !important;
  }
}

.anim {
  width: 100vw;
  height: 99vh;
  position: absolute;
  top: 350px;
}

.main {
  height: calc(100vh - 70px);
  @media screen and (max-width: 991px) {
    height: auto !important;
  }
  #myVideo {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px !important;
  }
}

// ALL Animation CSS
.animation {
  position: absolute;
  z-index: auto;
  pointer-events: none;
  top: 50vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: clip;
}

// Rotate Animation
.rotateanimation {
  transition: transform 2s;
}
.startrotate {
  transform: rotate(450deg);
  transition: transform 0.8s;
}
.norotate {
  transform: rotate(0deg);
}
.animation {
  width: 100%;
  overflow: auto;
}

.object {
  animation: MoveUpDown 5s ease-in-out infinite;
}
.object2 {
  animation: MoveDownUp 5s ease-in-out infinite !important;
}
.object3 {
  animation: circleUpDown 8s ease-in-out infinite;
}
.object4 {
  animation: MoveLeftRight 8s ease-in-out infinite;
}
.MoveLeftRight {
  animation: MoveLeftRight 8s ease-in-out infinite;
}

@keyframes circleUpDown {
  0%,
  100% {
    transform: translate(4%, 35%);
  }
  50% {
    transform: translate(8%, 30%);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translate(0%, 10%);
  }
  50% {
    transform: translate(4%, 20%);
  }
}
@keyframes MoveLeftRight {
  0%,
  100% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(2%, 0%);
  }
}
@keyframes MoveDownUp {
  0%,
  100% {
    transform: translate(4%, 90%);
  }
  50% {
    transform: translate(0%, 80%);
  }
}

// Rotate Animation End
// All Animation CSS End

// Waves animation

// Waves animation End

// .home-slider {
//   .swiper-pagination {
//     top: 50% !important;
//     bottom: inherit !important;
//     left: inherit !important;
//     right: 3.6458vw !important;
//     transform: translateY(-50%);
//     display: flex;
//     flex-direction: column;
//     @media screen and (max-width: 991px) {
//       bottom: inherit !important;
//       left: 50% !important;
//       width: 100% !important;
//       top: 20px !important;
//       transform: translateX(-50%) !important;
//       right: inherit !important;
//       text-align: center !important;
//       flex-direction: row;
//       justify-content: center;
//     }
//     .swiper-pagination-bullet {
//       width: 20px;
//       height: 2px !important;
//       border-radius: 0;
//       margin: 0 0 20px auto !important;
//       @media screen and (min-width: 768px) {
//         width: 15px;
//       }
//       @media screen and (min-width: 1200px) {
//         width: 25px;
//       }
//       @media screen and (max-width: 991px) {
//         height: 10px !important;
//         width: 10px !important;
//         border-radius: 50%;
//         margin: 0 3px !important;
//       }
//       &.swiper-pagination-bullet-active {
//         width: 35px;
//         background-color: var(--brand-primary);
//         @media screen and (min-width: 768px) {
//           width: 20px;
//         }
//         @media screen and (min-width: 1200px) {
//           width: 45px;
//         }
//         @media screen and (max-width: 991px) {
//           height: 10px !important;
//           width: 10px !important;
//         }
//       }
//     }
//   }
// }
.home-slider {
  height: calc(100vh - 70px) !important;
  &.about-service-slider {
    margin-bottom: 50px;
  }
  .swiper-slide {
    min-height: calc(100vh - 70px) !important;
  }
  .swiper-pagination {
    top: 50% !important;
    bottom: inherit !important;
    left: inherit !important;
    right: 3.6458vw !important;
    transform: translateY(-50%) !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto !important;
    display: flex;
    @media screen and (max-width: 991px) {
      bottom: inherit !important;
      left: 50% !important;
      width: 100% !important;
      top: 20px !important;
      transform: translateX(-50%) !important;
      right: inherit !important;
      text-align: center !important;
      flex-direction: row;
      justify-content: center;
    }
    .swiper-pagination-bullet {
      width: 20px;
      height: 2px !important;
      border-radius: 0;
      margin: 0 0 20px auto !important;
      left: 0 !important;
      display: none;
      &.swiper-pagination-bullet-active-prev-prev,
      &.swiper-pagination-bullet-active-prev,
      &.swiper-pagination-bullet-active-main,
      &.swiper-pagination-bullet-active-next,
      &.swiper-pagination-bullet-active-next-next {
        display: flex;
      }
      @media screen and (min-width: 768px) {
        width: 15px;
      }
      @media screen and (min-width: 1200px) {
        width: 25px;
      }
      @media screen and (max-width: 991px) {
        height: 10px !important;
        width: 10px !important;
        border-radius: 50%;
        margin: 0 3px !important;
      }
      .pagination-bullet {
        height: 2px !important;
        width: 100% !important;
      }
      &.swiper-pagination-bullet-active {
        width: 35px;
        background-color: var(--brand-primary);
        @media screen and (min-width: 768px) {
          width: 20px;
        }
        @media screen and (min-width: 1200px) {
          width: 45px;
        }
        @media screen and (max-width: 991px) {
          height: 10px !important;
          width: 10px !important;
        }
      }
    }
  }
}
.OpenMenu {
  overflow: hidden;
}

.recharts-default-tooltip {
  border: 1px solid var(--gray-color) !important;
  padding: 6px 12px !important;
}
.recharts-tooltip-label {
  font-weight: 600 !important;
  padding: 0 !important;
  color: var(--brand-primary) !important;
  font-family: var(--brand-font) !important;
  font-size: 12px !important;
  line-height: 1.3 !important;
  margin: 0;
  @media (min-width: 1200px) {
    font-size: 0.7291vw !important;
  }
}

.recharts-tooltip-item-list li {
  font-weight: 400;
  padding: 0;
  color: var(--dark-gray-color) !important;
  font-family: var(--brand-font);
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  @media (min-width: 1200px) {
    font-size: 0.7291vw;
  }
}
.recharts-cartesian-axis-ticks {
  padding-top: 10px !important;
}
body .swiper {
  @media screen and (max-width: 991px) {
    height: auto !important;
  }
}
.cusromCardK {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  background-color: var(--white-color);
  margin: 35px 0 0;
  padding: 16px;
  @media (min-width: 1200px) {
    padding: 20px;
    margin: 2.6041vw 0 0;
  }
}
.priceBoxCustom {
  @media (max-width: 991px) {
    flex-direction: row !important;
    > div {
      width: 48%;
      margin-bottom: 16px;
    }
  }
  @media (max-width: 767px) {
    flex-direction: column !important;
    > div {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}
.intelligenceBoxCustom {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: 991px) {
    flex-direction: column;
    margin-bottom: 0;   
  }
  @media (min-width: 1200px) {
    margin-top: 2.6041vw;
    margin-bottom: 2.6041vw;
  } 
  .accordionGroup {
    .infinite-scroll-component  {
      overflow: inherit !important;
    }
    .accordionItems {
      background-color: var(--white-color);
      border-radius: 24px;
      box-shadow: 0 46px 99px rgb(0 0 0 / 7%);
      margin: 0 0 30px 0;
      border: none;
      @media (min-width: 1200px) {
        margin: 0 0 2.6041vw 0;
      }
      .accordion-button {
        padding: 16px;
        border-radius: 24px;
        border: none;
        outline: none;
        font-size: 14px;
        color: var(--brand-primary);
        margin-bottom: 0;
        font-weight: 700;
        @media (min-width: 1200px) {
          font-size: 0.8333vw;
          padding: 20px;
        }
        &:focus,
        &:not(.collapsed) {
          outline: none !important;
          box-shadow: none !important;
          background: inherit !important;
        }
        &:not(.collapsed) {
          &:after {
            fill: var(--brand-primary);
          }
        }
      }
      .accordion-body {
        padding: 16px;
        padding-top: 0;
        @media (min-width: 1200px) {
          padding: 20px;
          padding-top: 0;
        }
        > div {
          padding-top: 16px;
          border-top: 1px solid var(--brand-primary);
          @media (min-width: 1200px) {
            padding-top: 20px;
          }
        }
        p {
          font-size: 14px;
          color: var(--dark-gray-color);
          margin-bottom: 14px;
          text-align: justify;
          @media (min-width: 1200px) {
            font-size: 0.8333vw;
          }
        }
        .intelligenceReadMore {
          font-size: 14px;
          display: flex;
          justify-content: flex-end;
          width: 100%;
          color: var(--dark-gray-color);
          margin-bottom: 14;
          border: none;
          background-color: transparent;
          @media (min-width: 1200px) {
            font-size: 0.8333vw;
          }
          &:hover {
            color: var(--brand-primary);
          }
        }
      }
    }
  }
}
.legalGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  // background-color: var(--white-color);
  padding: 0;
  margin: 35px 0;
  // box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
  @media (min-width: 1200px) {
    // padding: 1.5625vw;
    margin: 2.6041vw 0;
  }
  .checkGroup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .checkGroupbox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      input {
        display: none;
      }
      label,
      span {
        cursor: pointer;
      }
      span.chk-check:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        content: "";
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid var(--checkbox-color);
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 0;
        border-radius: 2px;
        margin-top: 0;
      }
      > input ~ span.chk-check:before {
        border-radius: 2px !important;
      }
      > input:checked ~ span.chk-check:before {
        background-color: var(--checkbox-color) !important;
        border-color: var(--checkbox-color) !important;
      }
      > input:checked ~ span.chk-check:after {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: 6px;
        width: 6px;
        height: 9.5px;
        border: solid var(--white-color);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        margin-top: 0;
      }
    }
    label {
      padding: 0;
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      color: var(--brand-primary);
      margin: 14px 0;
      margin-left: 10px;
      @media (min-width: 1200px) {
        margin: 0.8333vw 0;
        font-size: 1.0416vw 0;
        margin-left: 10px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
  h4 {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: var(--brand-primary);
    margin: 14px 0;
    @media (min-width: 1200px) {
      margin: 0.8333vw 0;
      font-size: 1.0416vw;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  P {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: var(--dark-gray-color);
    margin-bottom: 14px;
    @media (min-width: 1200px) {
      font-size: 0.8333vw;
      margin-bottom: 0.8333vw;
    }
    a {
      padding: 0;
      font-size: 14px;
      font-weight: 600;
      color: var(--brand-primary);
      @media (min-width: 1200px) {
        font-size: 0.8333vw;
      }
      &:hover  {
        text-decoration: underline;
      }
    }
  }
  ul {
    list-style: disc;
    padding-left: 2rem;
    li {
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: var(--dark-gray-color);
      margin-bottom: 14px;
      margin-bottom: 0;
      @media (min-width: 1200px) {
        font-size: 0.8333vw;
        margin-bottom: 0.8333vw;
      }
    }
  }
  button {
    border: 1px solid var(--brand-primary) !important;
    font-size: 15px !important;
    color: var(--brand-primary) !important;
    font-weight: 500;
    background-color: var(--white-color);
    border-radius: 10px !important;
    width: 80px;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 auto;
    &:hover,
    &:focus {
      color: var(--white-color) !important;
      background-color: var(--brand-primary);
    }
  }
}
.aboutImage {
  width: auto;
  height: 200px;
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    width: 19.27083vw;
    height: 14.2708vw;
  }
}
.aboutSectionMain {
  margin: 0 0 35px 0;
  @media (min-width: 1200px) {
    margin: 0 0 2.6041vw 0;
  }
  &.ourClientsMain {
    margin: 0 0 35px 0;
    @media (min-width: 1200px) {
      margin: 0 0 1.0416vw 0;
    }
  }
  .commonHeader {
    h2 {
      padding: 0;
      font-size: 38px;
      font-weight: 400;
      text-align: center;
      color: var(--brand-primary);
      padding: 0 0 16px 0;
      margin-bottom: 0;
      @media (min-width: 1200px) {
        padding: 0 0 1vw 0;
        font-size: 2.6041vw;
      }
    }
    P {
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: var(--dark-gray-color);
      margin-bottom: 0;
      @media (min-width: 1200px) {
        font-size: 0.8333vw;
      }
    }
  }
  .ourClients {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0 0;
    gap: 30px 0;
    border: none;
    @media (min-width: 1200px) {
      margin: 2.6041vw 0 0;
      gap: 0;
    }
    .border-ani {
      &:hover {
        > span {
          > div {
            border-radius: 0;
          }
        }
      }
    }
    > div {
      width: 47%;
      @media (min-width: 768px) {
        width: 22%;
        margin-bottom: 0;
      }
       
      @media (min-width: 1200px) {
        width: 22.5%;
        margin-bottom: 2.0833vw;
      }
      > div {
        > span {
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
            background-color: var(--white-color);
            border-radius: 24px;
            padding: 20px;
            width: 100%;
            img {
              width: 52px;
              height: 52px;
            }
            @media (min-width: 1200px) {
              min-height: 13.0729vw;
              padding: 1.5625vw;
            }
            P {
              padding: 0;
              font-size: 14px;
              font-weight: 400;
              text-align: center;
              color: var(--brand-primary);
              margin-bottom: 0;
              margin-top: 16px;
              @media (min-width: 1200px) {
                font-size: 0.8333vw;
                margin-top: 1.0416vw;
              }
            }
          }
        }
      }
    }
  }
  .ourValue {
    // box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
    // background-color: transparent;
    // border-radius: 24px;
    // padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-top: 15px;
    @media (min-width: 1200px) {
      gap: 45px 0;
      // padding: 1.5625vw;
      margin-top: 1.5625vw;
    }
    > div {
      width: 48%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 0;
      @media (max-width: 767px) {
        width: 100%;
      }
      img {
        height: 50px;
        width: auto;
        margin-bottom: 1.40625vw;
      }
      h5 {
        padding: 0;
        font-size: 17px;
        font-weight: 700;
        text-align: left;
        color: var(--brand-primary);
        margin: 0 0 16px 0;
        @media (min-width: 1200px) {
          margin: 0 0 1vw 0;
          font-size: 1.1458vw;
        }
      }
      P {
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: var(--dark-gray-color);
        margin-bottom: 0;
        @media (min-width: 1200px) {
          font-size: 0.8333vw;
        }
      }
    }
  }
  .ourTeam {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 35px 0;
    @media (min-width: 1200px) {
      margin-top: 1vw;
      gap: 0;
    }
    > div {
      width: 100%;
      margin-bottom: 2.0833vw;
      @media (min-width: 568px) {
        width: 47%;
      }
      @media (min-width: 768px) {
        width: 29.5%;
      }
      @media (min-width: 992px) {
        width: 22.5%;
      }
      @media (min-width: 1200px) {
        width: 22.5%;
      }
      > div {
        > span {
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
            background-color: var(--white-color);
            border-radius: 24px;
            padding: 20px;
            margin-bottom: 0;
            width: 100%;
            @media (min-width: 1200px) {
              min-height: 13.0729vw;              
              padding: 1.5625vw;
            }
            .teamGroupImg {
              margin-bottom: 15px;
              display: block;
              text-align: center;
              @media (min-width: 1200px) {
                margin-bottom: 1.0416vw;
              }
              img {
                width: 75px;
                height: 75px;
                @media (min-width: 1200px) {
                  width: 5.2083vw;
                  height: 5.2083vw;
                }
              }
            }
            .teamName {
              padding: 0;
              font-size: 14px;
              font-weight: 700;
              text-align: center;
              color: var(--brand-primary);
              margin: 0 0 16px 0;
              @media (min-width: 1200px) {
                margin: 0 0 0.5vw 0;
                font-size: 0.8333vw;
              }
            }
            .teamDesignation {
              padding: 0;
              font-size: 14px;
              font-weight: 400;
              text-align: center;
              color: var(--brand-primary);
              margin: 0 0 16px 0;
              @media (min-width: 1200px) {
                font-size: 0.8333vw;
                margin: 0 0 1vw 0;
              }
            }
            .teamSocial {
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                margin: 0 12.5px;
                width: 28px;
                height: 28px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .AsSeenIn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 40px;
    gap: 35px 0;
    @media (min-width: 768px) {
      gap: 40px 0;
    }
    @media (min-width: 1200px) {
      gap: 0;
      margin-top: 1vw;
      margin-bottom: 1.6vw;
    }
    > div {
      width: 47%;
      margin-bottom: 2.0833vw;
      @media (min-width: 768px) {
        width: 47%;
      }
      @media (min-width: 1200px) {
        width: 31%;
      }
      .border-ani {
        &:hover {
          > span {
            > div { 
              border-radius: 0;
            }
          }
        }
      }
      > div {        
        > span {
          > div {
            width: 100%;
            box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
            background-color: var(--white-color);
            border-radius: 24px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 160px;
            svg,
            img {
              width: 90%;
              height: auto !important;
            }
            @media (min-width: 991px) {
              svg,
              img {
                width: 80%;
              }
            }
            @media (min-width: 1200px) {
              padding: 1.5625vw;
              width: 100%;             
            }
          }
        }
      }
    }
  }
  .AsSeenInText {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: var(--dark-gray-color);
    margin-bottom: 0;
    @media (min-width: 1200px) {
      font-size: 0.8333vw;
    }
  }
  .candidateOurvalue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
    margin-top: 15px;
    margin-bottom: 30px;
    @media (min-width: 1200px) {
      margin-top: 1vw;
      margin-bottom: 2.6041vw;
    }
    > div {
      // box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
      background-color: transparent;
      // border-radius: 24px;
      // padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      @media (min-width: 768px) {
        width: 47%;
      }
      @media (min-width: 992px) {
        width: 48.5%;
      }
      @media (min-width: 1200px) {
        // padding: 1.5625vw;
        width: 48.5%;
      }
      .candidateOurvalueImg {
        background-color: var(--white-color);
        border-radius: 24px;
        padding: 20px;
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 16px;
        @media (min-width: 1200px) {
          margin-bottom: 1.40625vw;
        }
        img {
          height: 150px;
          width: auto;
          @media (min-width: 1200px) {
            height: 10.4166vw;
          }
        }
      }
      h2 {
        padding: 0;
        font-size: 17px;
        font-weight: 700;
        text-align: left;
        color: var(--brand-primary);
        padding: 0 0 16px 0;
        margin-bottom: 0;
        @media (min-width: 1200px) {
          padding: 0 0 1vw 0;
          font-size: 1.1458vw;
        }
      }
      P {
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: var(--dark-gray-color);
        margin-bottom: 14px;
        @media (min-width: 1200px) {
          font-size: 0.8333vw;
          margin-bottom: 1vw;
        }
      }
    }
  }
}

.contactMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  background-color: var(--white-color);
  padding: 20px;
  margin: 35px 0;
  box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
  @media (min-width: 1200px) {
    padding: 1.5625vw;
    margin: 2.6041vw 0;
  }
  .contactGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      flex-direction: column;
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    > div {
      width: 48.5%;
      padding: 0;
      border: 1px solid var(--gray-color-two) !important;
      border-radius: 10px !important;
      height: 50px;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
      }
      input,
      select {
        padding: 6px 12px;
        padding-top: 22px;
        border: none !important;
        border-radius: 10px !important;
        background-color: transparent !important;
        height: 50px;
        font-weight: 500;
        color: var(--brand-primary);
        font-size: 15px !important;
      }
      label {
        left: 12px;
        font-size: 14px !important;
        color: var(--gray-color) !important;
        font-weight: 500;
      }
      .css-1s2u09g-control,
      .css-1pahdxg-control {
        background-color: transparent !important;
        border: none !important;
        min-height: auto !important;
        padding: 0;
        outline: none !important;
        border-radius: 10px !important;
        box-shadow: none !important;
        outline: none !important;
        &:hover,
        &:focus {
          background-color: transparent !important;
          border: none !important;
          box-shadow: none !important;
          outline: none !important;
        }
        .css-319lph-ValueContainer {
          padding: 6px 12px;
          padding-top: 18px;
          min-height: auto !important;
          height: auto !important;
          .css-6j8wv5-Input {
            margin: 0;
            padding-bottom: 0;
            padding-top: 0;
          }
          .css-qc6sy-singleValue {
            margin-left: 0;
            margin-right: 0;
            font-weight: 500;
            color: var(--brand-primary);
            font-size: 15px !important;
          }
          input {
            height: auto !important;
          }
        }
        .css-1okebmr-indicatorSeparator {
          display: none !important;
        }
        .css-tlfecz-indicatorContainer {
          color: var(--brand-primary);
        }
      }
    }
    .selectGroup {
      position: relative;
      .selectlable {
        position: absolute;
        left: 2px;
        font-size: 14px !important;
        color: var(--gray-color) !important;
        transform: translate(0, 1px) scale(0.8);
        // transform: translate(0, 6px) scale(0.8);
        font-weight: 500;
      }
    }
    &.textareaGroup {
      > div {
        width: 100%;
        padding: 0;
        border: 1px solid var(--gray-color-two) !important;
        border-radius: 10px !important;
        height: auto;
      }
    }
    &.fileGroup {
      @media (max-width: 767px) {
        align-items: flex-start;
      }
      .file-input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 48.5%;
        padding: 6px 12px;
        border: 1px solid var(--gray-color-two) !important;
        border-radius: 10px !important;
        height: 50px;
        @media (max-width: 767px) {
          width: 100%;
        }
        > [type="file"] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 10;
          padding: 0 !important;
          cursor: pointer;
        }
        .button {
          font-size: 15px !important;
          color: var(--dark-gray-color) !important;
          font-weight: 500;
          padding-right: 20px;
          border-right: 1px solid var(--gray-color-two);
          margin-right: 20px;
          svg {
            margin-left: 18px;
            color: var(--dark-gray-color) !important;
            path {
              fill: var(--dark-gray-color) !important;
            }
          }
        }
        .label {
          font-size: 14px !important;
          color: var(--gray-color-two) !important;
          font-weight: 400;
        }
      }
    }
    .submitButton {
      border: 1px solid var(--brand-primary) !important;
      font-size: 15px !important;
      color: var(--brand-primary) !important;
      font-weight: 500;
      background-color: transparent;
      border-radius: 10px !important;
      width: 120px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 567px) {
        width: 100%;
      }
      @media (min-width: 992px) {
        width: 12.9166vw;
      }
      &:hover,
      &:focus {
        color: var(--white-color) !important;
        background-color: var(--brand-primary);
      }
    }
  }
}
.locationGroup {
  box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
  background-color: var(--white-color);
  border-radius: 24px;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  @media (min-width: 1200px) {
    padding: 1.5625vw;
    margin-bottom: 2.6041vw;
  }
  h2 {
    padding: 0;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    color: var(--brand-primary);
    padding: 0 0 16px 0;
    margin-bottom: 0;
    @media (min-width: 1200px) {
      padding: 0 0 1vw 0;
      font-size: 1.1458vw;
    }
  }
  h3 {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: var(--brand-primary);
    margin-bottom: 14px;
    @media (min-width: 1200px) {
      font-size: 0.8333vw;
      margin-bottom: 1vw;
    }
  }
  p {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: var(--gray-color);
    margin-bottom: 14px;
    @media (min-width: 1200px) {
      font-size: 0.8333vw;
      margin-bottom: 1vw;
    }
  }
  a {
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: var(--brand-primary);
    display: block;
    @media (min-width: 1200px) {
      font-size: 0.8333vw;
    }
    &:hover {
      color: var(--block-color);
    }
  }
}

.serviceSliderGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0;
  @media (min-width: 1200px) {
    margin: 4vw 0;
  }
  .serviceSliderGroupText {
    width: 50%;
    h3 {
      padding: 0;
      font-size: 17px;
      font-weight: 700;
      text-align: left;
      color: var(--brand-primary);
      padding: 0 0 16px 0;
      margin-bottom: 0;
      @media (min-width: 1200px) {
        padding: 0 0 1vw 0;
        font-size: 1.1458vw;
      }
    }
    P {
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: var(--dark-gray-color);
      margin-bottom: 14px;
      @media (min-width: 1200px) {
        font-size: 0.8333vw;
        margin-bottom: 1vw;
      }
    }
  }
  .serviceSliderGroupImg {
    width: 50%;
    text-align: right;
    img {
      width: 280px !important;
      height: auto !important;
      @media (min-width: 1200px) {
        width: 25.5208vw !important;
      }
    }
  }
}
.serviceSlider {
  height: auto !important;
  .min-vh-100 {
    min-height: auto !important;
  }
}
.border-ani {
  position: relative;
  height: 100%;
  &:after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
  }
  &:before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }
  span {
    display: block;
    height: 100%;
    &:before,
    &:after {
      content: "";
      width: 1px;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background: var(--brand-primary);
    }
    &:after {
      right: 0;
      bottom: 0;
      transition-duration: 0.4s;
    }
    &:before {
      left: 0;
      top: 0;
      transition-duration: 0.4s;
    }
  }
  &:before,
  &:after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--brand-primary);
  }
  &:hover {
    &:before {
      width: 100%;
    }
    &:after {
      width: 100%;
    }
    border-radius: 0 !important;
    span {
      border-radius: 0 !important;
      .teamGroup,
      a {
        border-radius: 0 !important;
        > div {
          border-radius: 0 !important;
        }
      }
      &:before {
        height: 100%;
      }
      &:after {
        height: 100%;
      }
    }
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.aboutTilte {
  h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .emfiText {
      width: auto !important;
      height: 22px;
      margin-left: 7px;
    }
  }
}
.homePage {
  .home-slider {
    .swiper-slide {
      position: relative;
      .tilteRoundBox {
        box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
        background-color: var(--white-color);
        width: 120px;
        height: 120px;
        position: absolute;
        top: -40px;
        right: -40px;
        border-radius: 100%;
        z-index: 9;
        @media (max-width: 1200px) {
          display: none;
        }
        #circle {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          text {
            font-size: 16px;
            font-weight: bold;
            color: var(--brand-primary);
          }

          svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            -webkit-animation-name: rotate;
            -moz-animation-name: rotate;
            -ms-animation-name: rotate;
            -o-animation-name: rotate;
            animation-name: rotate;
            -webkit-animation-duration: 5s;
            -moz-animation-duration: 5s;
            -ms-animation-duration: 5s;
            -o-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            -ms-animation-timing-function: linear;
            -o-animation-timing-function: linear;
            animation-timing-function: linear;
          }

          @-webkit-keyframes rotate {
            from {
              -webkit-transform: rotate(0deg);
            }
            to {
              -webkit-transform: rotate(360deg);
            }
          }
          @-moz-keyframes rotate {
            from {
              -moz-transform: rotate(0deg);
            }
            to {
              -moz-transform: rotate(360deg);
            }
          }
          @-ms-keyframes rotate {
            from {
              -ms-transform: rotate(0deg);
            }
            to {
              -ms-transform: rotate(360deg);
            }
          }
          @-o-keyframes rotate {
            from {
              -o-transform: rotate(0deg);
            }
            to {
              -o-transform: rotate(360deg);
            }
          }
          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
          #circlePath {
            display: flex;
            justify-content: space-between;
          }
        }
        .TopArrow {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 25px;
          border: 1px dashed var(--brand-primary);
          border-radius: 100%;
        }
      }
    }
  }
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon1) !important;
  background-position: center center;
}

.accordion-button::after {
  background-image: var(--bs-accordion-btn-icon1) !important;
  background-position: center center;
  width: 16px !important;
  height: 8px !important;
  background-size: 100% !important;
}

#wrapper {
  // background: #555555;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#wrapper * {
  margin: 5px;
}

.heading {
  font-size: 3em;
  padding: 10px 5px;
}

.caption {
  font-size: 1em;
  padding: 5px;
  font-family: Courier;
}
.eLogoBg {
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: auto;
  opacity: 0;
  -webkit-animation: e-logo-ani 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -o-animation: e-logo-ani 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: e-logo-ani 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 10s;
  transform-origin: 100% 100%;
  &.eLogoBgHide {
    opacity: 0.4;
    -webkit-animation: removeSlide 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    -o-animation: removeSlide 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: removeSlide 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 9.5s;
    transform-origin: 100% 100%;
    top: 90%;
    left: inherit;
    right: 5%;
    transform: translate(5%, -90%);
  }
  @media (min-width: 767px) {
    height: 100px;
  }
  @media (min-width: 1200px) {
    height: 10.4166vw;
  }
}
@keyframes e-logo-ani {
  0% {
    opacity: 0; 
    top: 25%;
    right: 50%;
    transform: translate(50%,-25%); 
  }

  100% {
    top: 90%;
    left:inherit;
    right: 5%; 
    transform: translate(5%,-90%); 
    opacity: 0.4;
  }
}
@keyframes removeSlide {
  0% {
    top: 90%;
    left:inherit;
    right: 5%; 
    transform: translate(5%,-90%); 
    opacity: 0.4;
  }

  100% {
    top: 90%;
    left:inherit;
    right: -100%; 
    transform: translate(0,-90%); 
    opacity: 0;
  }
}

.eSlideAboutFirst {
  .eSliderAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: inherit !important; 
    .eSliderAboutWrapper {
      min-height: 538px !important;
      justify-content: flex-start !important;
    }
  }
}
  .eSliderAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: inherit !important; 
    .eSliderAboutWrapper {
      min-height: 275px !important;
      justify-content: flex-start !important;
    }
  }
  .contact-sticky-btn {
    color: var(--white-color);
    font-size: 15px;
    font-weight: 500;
    min-height: 38px;
    padding: 10px 12px;
    background-color: var(--brand-primary);
    border:1px solid var(--brand-primary);
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-transform: capitalize;
    box-shadow: 0px 4px 6px 0px rgba(95, 98, 103, 0.23);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(95, 98, 103, 0.23);
    display: flex;
    width:auto !important;
     min-width:120px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    right: 0;
    height: 40px;
    padding: 0 15px;
    -webkit-transform: rotate(-90deg) translate(50%,-100%);
    transform: rotate(-90deg) translate(50%,-100%);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    position: fixed;
    z-index: 111;
    top: 50%;
    &:hover {
        color: var(--brand-primary);
        background-color: var(--white-color);
        border-color: var(--brand-primary);
        text-decoration: none;
    }
  }
  .searchBoxList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 1.5px 20px 2px rgba(var(--black-rgb), 0.13);
    background-color: var(--white-color);
    margin-top: 8px;
    z-index: 9;
    border-radius: 10px;
    li {
      a {
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        display: block;
        width: 100%;
        color: var(--brand-primary);
        @media (min-width: 1200px) { 
          font-size: 0.8333vw;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.0509803922);
        }
      }
    }
  }

  .emfi-switched-on { 
    display: block; 
    &.animated {
      position: fixed;
      width: 100vw;
      z-index: 999;
      overflow: hidden;
      display: block;
      background:var(--brand-primary);
      .text-logo-main {
          .text-title {
            &.customeH2 {
                h2 {
                color: var(--white-color);
                }
                .block {
                background-color: var(--white-color);
                }
            }
            &.e-logo-main {
                .block {
                background-color: var(--white-color);
                }
                h2 {
                &.e-white-logo {
                    display: flex;
                }
                &.e-blue-logo {
                    display: none;
                }
                }
          }
        }
      }
    }
    .text-logo-main {
      display: flex;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      justify-content: center;
      position: relative;
      z-index: 99999;
      .items {
          overflow: hidden;
          display: block;
          text-align: center;
      }
      &.rotate-main {
        .items {
          width: 100%;
          .e-logo-main  {
            h2 {
              &.e-white-logo.logo-rotate {
                  display: block !important;
              }
            }
          }
        }
      }
      .text-title {
        position: relative;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        height: 50px;        
        margin:8px 0;
        overflow: hidden;
        @media (max-width: 1499px) {
          height: 40px;
        }
        @media (max-width: 767px) {
          height: 100%;
          margin:4px 0;
        }
        &.customeH2 {
          height: 130px;
          @media (max-width: 1499px) {
              height: 120px;
          }
          @media (max-width: 767px) {
              height: 70px;
          } 
          @media (max-width: 567px) {
              height: 58px;
          }
          @media (max-width: 374px) {
              height: 52px;
          }
          h2 { 
              font-size: 120px !important;     
              display: flex;
              align-items: center; 
              font-weight: 700;  
              @media (max-width: 1499px) {
              font-size: 100px !important;     
              }   
              @media (max-width: 767px) {
              font-size: 60px !important; 
              }
              @media (max-width: 567px) {
              font-size: 48px !important; 
              }
              @media (max-width: 374px) {
              font-size: 42px !important; 
              }
          }
        }
        &.e-logo-main {
          height: 405px;
          width: 100%;
          overflow: visible;
          h2 {
              &.logo-rotate {
              width: 100%;
              }
          }
          &.e-white-logo {
              display: none;
          }
          @media (max-width: 1499px) {
              height: 370px;
          }
          @media (max-width: 1199px) {
              height: 320px;
          }
          @media (max-width: 767px) {
              height: 180px;
          }
          @media (max-width: 568px) {
              height: 140px;
          }
          @media (max-width: 567px) {
              height: 170px;
          }
          @media (max-width: 359px) {
              height: 140px;
          }
          img {
            height: 385px;
            @media (max-width: 1499px) {
            height: 350px;
            }
            @media (max-width: 1199px) {
            height: 300px;
            }
            @media (max-width: 767px) {
            height: 160px;
            }
            @media (max-width: 568px) {
            height: 120px;
            }
            @media (max-width: 567px) {
            height: 150px;
            } 
            @media (max-width: 359px) {
            height: 120px;
            }           
          }
        }
        .block {
          width: 0%;
          height: inherit;
          background: var(--brand-primary);
          position: absolute;
          -webkit-animation: mainBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
          -o-animation: mainBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: mainBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
          display: flex;
        }

        h2 {
          color: var(--brand-primary);
          font-size: 39px;
          line-height: 1.2;
          -webkit-animation: mainFadeIn 1s cubic-bezier(.74, .06, .4, .92) forwards;
          -o-animation: mainFadeIn 1s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: mainFadeIn 1s cubic-bezier(.74, .06, .4, .92) forwards;
          display: flex;
          align-items: center;
          position: relative;
          text-transform: capitalize;
          font-weight: 400;
          transform: translateX(-100%);
          margin-bottom:0 !important ;
          &.logo-rotate {
              -webkit-animation: mainRotate 2s cubic-bezier(.74, .06, .4, .92) forwards;
              -o-animation: mainRotate 2s cubic-bezier(.74, .06, .4, .92) forwards;
              animation: mainRotate 2s cubic-bezier(.74, .06, .4, .92) forwards;
              transform: translateX(-100%) rotate(-1080deg);
          }
          @media (max-width: 1499px) {
              font-size: 34px;
          }
          @media (max-width: 1199px) {
              font-size: 30px;
          }
          @media (max-width: 767px) {
              font-size: 20px;
          }
          @media (max-width: 767px) {
              font-size: 25px;           
          }
          
          img {
              width: auto !important; 
              margin-top: 0;
              @media (max-width: 1499px) {
              height: 45px;
              }
              @media (max-width: 767px) {
              height: 35px;
              }
              @media (max-width: 567px) {
              height: 30px;
              }
              &.eindex-logo {
              height: 28px;  
              @media (max-width: 1499px) {
                  height: 22px;
              }
              @media (max-width: 767px) {
                  height: 22px;
              }
              @media (max-width: 567px) {
                  height: 22px;
              }
              }
              
          }
          &.fist-latter {
              text-transform: inherit !important; 
          } 
          div {
              font-weight: 800;
              color: var(--brand-primary);
              font-size: 40px;
              line-height: 1.2;
          }
          > span {
              width:0px;
              height: 0px;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              border-radius: 100% !important;
              background: var(--brand-primary);
              -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
              animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
              animation-delay: 0s;
              margin-left: 5px;
              margin-top: -10px;
              position: absolute;
              bottom: 13px;
              right: -12px;
  
          }
        }
        &.slideInRight {
          h2 { 
              -webkit-animation: mainFadeIn2 1s cubic-bezier(.74, .06, .4, .92) forwards;
              -o-animation: mainFadeIn2 1s cubic-bezier(.74, .06, .4, .92) forwards;
              animation: mainFadeIn2 1s cubic-bezier(.74, .06, .4, .92) forwards;
              transform: translateX(100%);
          }
          .block {
              -webkit-animation: mainBlock2 1s cubic-bezier(.74, .06, .4, .92) forwards;
              -o-animation: mainBlock2 1s cubic-bezier(.74, .06, .4, .92) forwards;
              animation: mainBlock2 1s cubic-bezier(.74, .06, .4, .92) forwards;
          }
        }
      }
    }
    &.removeElogo {
      overflow: visible !important;
      .text-logo-main {
        overflow: visible !important;
        .items {
          overflow: visible !important;
        }
        .text-title {
          overflow: visible !important;
        h2 {
          overflow: visible !important;
          &.logo-rotate {
            -webkit-animation: shimmy 1s cubic-bezier(.74, .06, .4, .92) forwards !important; 
            -o-animation: shimmy 1s cubic-bezier(.74, .06, .4, .92) forwards !important;
            animation: shimmy 1s cubic-bezier(.74, .06, .4, .92) forwards !important;
            transform: translateX(0) rotate(0deg); 
          }
          &.e-logo-text {
            -webkit-animation: animationgradienttitle 2s cubic-bezier(.74, .06, .4, .92) forwards !important; 
            -o-animation: animationgradienttitle 2s cubic-bezier(.74, .06, .4, .92) forwards !important;
            animation: animationgradienttitle 2s cubic-bezier(.74, .06, .4, .92) forwards !important;               
            transform: translateX(0);
            @-webkit-keyframes animationgradienttitle {
              0% {
                  transform: translateX(0);
              }
              100% {
                  transform: translateX(-200%);
              }
            }
            @keyframes animationgradienttitle {
              0% {
                  transform: translateX(0);
              }
              100% {
                  transform: translateX(-200%);
              }
            }
          }
        }
        }
      }
    }
    @keyframes mainBlock {
      0% {
          width: 0%;
          left: 0;
      
      }
      50% {
          width: 100%;
          left: 0;
      
      }
      100% {
          width: 0;
          left: 100%;
      }
    }
    @keyframes mainBlock2 {
      0% {
          width: 0%;
          left: inherit;
          right: 0;
      
      }
      50% {
          width: 100%;
          left: inherit;
          right: 0;
      
      }
      100% {
          width: 0;
          left: inherit;
          right: 100%;
      }
    } 
    @keyframes mainFadeIn {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translateX(0);
      }
    } 
    @keyframes mainFadeIn2 {
      0% {
          transform: translateX(100%);
      }
      100% {
          transform: translateX(0);
      }
    }
    @keyframes popIn {
      0% {
          width: 0px;
          height: 0px;
          background: var(--brand-primary);
          border: 0px solid #ddd;
          opacity: 0;
      }
      50% {
          width: 10px;
          height: 10px;
          background: var(--brand-primary);
          opacity: 1;
          bottom: 45px;
      }
      65% {
          width: 7px;
          height: 7px;
          bottom: 0px;
          width: 15px
      }
      80% {
          width: 10px;
          height: 10px;
          bottom: 20px
      }
      100% {
          width: 7px;
          height: 7px;
          background: var(--brand-primary);
          border: 0px solid #222;
          bottom: 13px;
      
      }
    }
    @keyframes mainRotate {
      0% {
          transform: translateX(-100%) rotate(-1080deg);
      }
      100% {
          transform: translateX(0) rotate(0deg);
      }
    }
    @keyframes shimmy {
      0% {
          transform: translateX(0) rotate(0deg); 
      }
      100% { 
          transform: translateX(100%) rotate(1080deg);       
      }
    } 
  }
