.HeroWrapper {
  display: flex;
  max-width: 100%;
  padding: 50px 12px 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  margin-bottom: 25px !important;
  @media screen and (max-width: 991px) {
    height: fit-content;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 960px) {
    flex-direction: row;
    max-width: 960px;
    padding: 0 12px;
  }
  @media screen and (min-width: 1200px) {
      max-width: 1140px;
      padding: auto;
      gap: 30px;
  }
}
