.eSliderMain {
  padding-top: 16vh;
  text-align: center;
  #wrapper * {
    margin: 0 !important;
  }
  .marginZero {
    margin: 0 !important;
  }
  .dFlex {
    display: flex;
    margin: 0 !important;
  }
  .aboutPage {
    &.aboutPageSlide {
      .textAnimationReverse,
      .textAnimation {
        font-size: 28px;
        text-transform: uppercase;
        line-height: 1.25;
        color: var(--brand-primary);
        margin: 8px 0;
        @media (min-width: 767px) {
          font-size: 42px;
        }
        @media (min-width: 1200px) {
          font-size: 4.1666vw;
        }  
      }
    }
    &.aboutPageImg {
      svg,
      img {
        height: 50px;
        width: auto;
        @media (min-width: 767px) {
          height: 100px;
        }
        @media (min-width: 1200px) {
          height: 10.4166vw;
        }
      }
    }
  }
  .pRelative {
    position: relative;
  }
  .eSliderSliderText {
    visibility: hidden;
    position: absolute;
    margin: 0 !important;
  }
  .textAnimation {
    animation: textSlide 2s;
    animation-delay: 2s;
  }

  .animatable {
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: 0.75s cubic-bezier(1, -0.01, 0.12, 0.8) 1s 1 reveal forwards;
  }

  .eLogo {
    height: 60px;
    @media (min-width: 767px) {
      height: 120px;
    }
    @media (min-width: 1200px) {
      height: 11.9791vw;
    }
    svg,
    img {
      height: 50px;
      width: auto;
      @media (min-width: 767px) {
        height: 100px;
      }
      @media (min-width: 1200px) {
        height: 10.4166vw;
      }
    }
  }
  .eLogoText {
    .textAnimationReverse {
      font-size: 28px;
      text-transform: uppercase;
      color: var(--brand-primary);
      line-height: 1.25;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media (min-width: 767px) {
        font-size: 42px;
      }
      @media (min-width: 1200px) {
        font-size: 4.1666vw;
      }
    }
    svg,
    img {
      height: 30px;
      width: auto;
      @media (min-width: 767px) {
        height: 52px;
      }
      margin-left: 16px !important;
      @media (min-width: 1200px) {
        height: 3.5vw;
      }
    }
  }
  .animatable::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--brand-primary);
    padding: inherit;
    animation: 0.75s cubic-bezier(1, -0.01, 0.12, 0.8) 1.75s 1 hideBlack
      forwards;
  }

  @keyframes reveal {
    from {
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes hideBlack {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }
  @keyframes textSlide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .textAnimationReverse,
  .textAnimation {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.25;
    color: var(--brand-primary);
    margin: 8px 0;
    @media (min-width: 567px) {
      font-size: 20px;
    }
    @media (min-width: 767px) {
      font-size: 32px;
    }
    @media (min-width: 1200px) {
      font-size: 2.03125vw;
    }
  }
  .textAnimationReverse {
    animation: textSlideReverse 2s;
    animation-delay: 2s;
  }

  .animatableReverse {
    position: relative;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    animation: 0.75s cubic-bezier(1, -0.01, 0.12, 0.8) 1s 1 revealReverse
      forwards;
  }

  .animatableReverse::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--brand-primary);
    padding: inherit;
    animation: 0.75s cubic-bezier(1, -0.01, 0.12, 0.8) 1.75s 1 hideBlackReverse
      forwards;
  }

  @keyframes revealReverse {
    from {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      // clip-path: polygon(0% 100%, 0% 100%, 0% 0%, 0% 0%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes hideBlackReverse {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      // clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }
  @keyframes textSlideReverse {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}


